.categoryContainer {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: auto;
}

.categoryContainerH2 {
  color: #ffb703;
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.categories {
  margin-bottom: 30px;
}
