* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  background: url(https://res.cloudinary.com/dabfhr2dr/image/upload/v1716751117/641_1_ygtzl9.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: block;
  /* min-height: 100vh;
  height: auto; */
  padding: 61px 2rem 40px 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
